li {
    list-style: none;
}

.content {
    border: 1px solid black;
    height: 80vh;
}

.search-div {
    border: 1px solid red;
    overflow: hidden;
    height: 80vh;
}

.recap {
    border: 1px solid blue;
    height: 80vh;
}
.page {
    margin-top: 10vh;
}

.search-bar {
    margin: 3vh 5%;
    width: 90%;
}

.search-list {
    margin: 3vh 5%;
}

.list-element-you-know {
    background: lightblue;
    padding: 1vh;
}
