html {
    font-family: arial;
}

li {
    list-style: none;
}

.content {
    border: 3px solid #4C448F;
    height: 80vh;
    background: #F0F0F0;
}

.search-div {
    border-top: 3px solid #4C448F;
    border-bottom: 3px solid #4C448F;
    overflow: hidden;
    height: 80vh;
}

.navbar {
    position: fixed;
    z-index: 100;
}

.titles {
    text-align: center;
}

.add-item {
    cursor: pointer;
    float: right;
    position: absolute;
    margin-top: 20px;
}

.items-div {
    padding: 20px;
    background: white;
    min-height: 500px;
}

.room-item {
    padding: 15px;
}

.karura {
    height: 100%;
    position: fixed;
    margin-left: 30%;
    z-index: 200;
}

.cochon {
    position: fixed;
    margin-left: 81%;
    z-index: 205;
}

a.add-room {
    cursor: pointer;
    background-color: #4C448F;
    text-transform: uppercase;
    padding: 0.8em;
    color: white;
    font-family: Gotham-Bold, arial;
    font-size: 16px;
    border-bottom: 3px solid #352F64;
}

.center-text {
    text-align: center;
}

.divRooms {
    margin-top: 60px;
}

.add-room-button {
    margin-top: 40px;
}

.add-item-button {
    margin-top: 20px;
}

.recap {
    border-top: 3px solid #4C448F;
    border-bottom: 3px solid #4C448F;
    height: 80vh;
}

.page {
    margin-top: 110px;
}

.search-bar {
    margin: 3vh 5%;
    width: 90%;
}

.search-list {
    margin: 3vh 5%;
}

.list-element-you-know {
    background: lightblue;
    padding: 1vh;
}

/* Style the tab */

.tab {
    float: left;
    background-color: #f1f1f1;
    height: 300px;
    padding: 0;
}

/* Style the buttons that are used to open the tab content */

.tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
}

/* Change background color of buttons on hover */

.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current "tab button" class */

.tab button.active {
    background-color: white;
}

/* Style the tab content */

.room-items {
    float: left;
    height: 300px;
}

/* modal recap */

.modal.right .modal-dialog {
    position: fixed;
    margin: 20vh 10vw;
    width: 80vw;
    height: auto;
    transform: translate3d(0%, 0, 0);
}

@media screen and (max-width: 550px) {
    .modal.right .modal-dialog {
        height: 75vh;
    }
}

.modal.right .modal-content {
    height: 100%;
    overflow-y: auto;
}

.modal.right .modal-body {
    padding: 15px 15px 80px;
}

.btn-modal-recap {
    background-color: #4C448F;
    color: white;
}

.btn-modal-recap:hover {
    background-color: deeppink;
    color: white;
}

.btn-modal-recap:visited {
    background-color: #4C448F;
    color:white;
}

/*---right---*/

.modal.right.fade .modal-dialog {
    right: -320px;
    transition: opacity 0.3s linear, right 0.5s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

/* ----- MODAL STYLE ----- */

.modal-content {
    border-radius: 0;
    border: none;
    text-align: center;
}

.modal-header {
    border-bottom-color: #EEEEEE;
    background-color: white;
    color: #4C448F;
    text-align: center;
}
