{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row page">
            <div class="search-div col-sm-3">
                <input autocomplete="off" class="search-bar"/>
                <div id="autocomplete" class="search-list col-sm-6">
                    <li>Nan mais allo quoi</li>
                </div>
            </div>
            <div class="content"></div>
            <div class="recap col-sm-3"></div>
        </div>
    </div>
{% endblock %}
