{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row page">
            <div class="search-div col-sm-2">
                <input autocomplete="off" class="search-bar"/>
                <div id="autocomplete" class="search-list">
                    {# changer la ligne en dessous en dynamique mac #}
                    <li class="list-element-you-know">Nan mais allo quoi</li>
                </div>
            </div>
            <div class="content col-sm-8">
                <div class="row">
                    <div class="room-links tab">
                        <button class="room-link" onclick="openRoom(event, 'cuisine{#nom de la pièce#}')">{# nom de la pièce #}Chambre 3
                        </button>
                        <button class="room-link" onclick="openRoom(event, 'salle de bain{#nom de la pièce#}')">{# nom de la pièce #}Chambre 3
                        </button>
                        <button class="room-link" onclick="openRoom(event, 'cave{#nom de la pièce#}')">{# nom de la pièce #}Chambre 3
                        </button>
                        <button class="room-link" onclick="openRoom(event, 'donjon{#nom de la pièce#}')">{# nom de la pièce #}Chambre 3
                        </button>
                        <button class="add-room">Ajouter une pièce</button>
                    </div>
                    <div class="col-xs-8">
                        <div class="room-items" id="cuisine{# nom de la pièce #}">
                            <li class="room-item">Hola mis amigos</li>
                        </div>
                        <div class="room-items" id="salle de bain{# nom de la pièce #}">
                            <li class="room-item">Hola mis amigos</li>
                        </div>
                        <div class="room-items" id="cave{# nom de la pièce #}">
                            <li class="room-item">Hola mis amigos</li>
                        </div>
                        <div class="room-items" id="donjon{# nom de la pièce #}">
                            <li class="room-item">Hola mis amigos</li>
                        </div>
                        <button class="add-item">Ajouter un meuble</button>
                    </div>
                </div>
            </div>
            <div class="recap col-sm-2">
                {# changer la ligne en dessous en dynamique mac #}
                <li class="recap-item">Aie Aie Aie</li>
            </div>
        </div>
    </div>
{% endblock %}

