{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row page">
            <div class="search-div col-sm-2">
                <input autocomplete="off" class="search-bar"/>
                <div id="autocomplete" class="search-list">
                    <li class="list-element-you-know">Nan mais allo quoi</li>
                </div>
            </div>
            <div class="content col-sm-8">
                <div class="row">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-8">
                    </div>
                </div>
            </div>
            <div class="recap col-sm-2"></div>
        </div>
    </div>
{% endblock %}
