{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row page">
            <div class="search-div col-sm-2">
                <input autocomplete="off" class="search-bar"/>
                <div id="autocomplete" class="search-list">
                    {# changer la ligne en dessous en dynamique mac #}
                    <li class="list-element-you-know">Nan mais allo quoi</li>
                </div>
            </div>
            <div class="content col-sm-8">
                <div class="row">
                    <div class="room-links col-xs-4 nav nav-pills nav-stacked">
                        {# !! PENSER A METTRE UN class="active" SEULEMENT SUR LE PREMIER ELEMENT !!
                        changer la ligne en dessous en dynamique mac #}
                        <li class="room-link active"><a href="#tab" data-toggle="pill">Chambre 3</a></li>
                        <button class="add-room">Ajouter une pièce</button>
                    </div>
                    <div class="room-items col-xs-8">
                        {# !! PENSER A METTRE UN class="active" SEULEMENT SUR LE PREMIER ELEMENT !!
                        changer la ligne en dessous en dynamique mac #}
                        <li class="tab-pane room-item active" id="tab">Chaise roumaine</li>
                        <button class="add-item">Ajouter un meuble</button>
                    </div>
                </div>
            </div>

            <div class="recap col-sm-2">
                <button type="button" class="btn btn-default btn-modal-recap" data-toggle="modal" data-target=".modal-recap-lg">
                    <span class="glyphicon glyphicon-list-alt"> Recapitulatif</span>
                </button>

                <div class="modal right fade fade modal-recap-lg " tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"> Récapitulatif </h4>
                            </div>
                            <div class="modal-body">
                                <p>{# ici sera inscrit dans le marbre le récapitulatif du déménagement #}
                                    trois chaises peau de cougar</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->

                {# changer la ligne en dessous en dynamique mac #}
                <li class="recap-item">Aie Aie Aie</li>
            </div>
        </div>
    </div>
{% endblock %}

