{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row page">
            <div class="search-div col-sm-2">
                <input autocomplete="off" class="search-bar"/>
                <div id="autocomplete" class="search-list">
                    {# changer la ligne en dessous en dynamique mac #}
                    <li class="list-element-you-know">Nan mais allo quoi</li>
                </div>
            </div>
            <div class="content col-sm-8">
                <div class="row">
                    <div class="room-links col-xs-4 nav nav-pills nav-stacked">
                        {# !! PENSER A METTRE UN class="active" SEULEMENT SUR LE PREMIER ELEMENT !!
                        changer la ligne en dessous en dynamique mac #}
                        <li class="room-link active"><a href="#tab" data-toggle="pill">Chambre 3</a></li>
                        <a data-toggle="modal" href="#myRoomCategoryModal"
                           class="add-room btn btn-primary btn-lg">Ajouter une pièce</a>
                    </div>
                    <div class="room-items col-xs-8">
                        {# !! PENSER A METTRE UN class="active" SEULEMENT SUR LE PREMIER ELEMENT !!
                        changer la ligne en dessous en dynamique mac #}
                        <div class="tab-pane room-item active" id="tab">Cuisine test placeholder</div>
                        <button class="add-item">Ajouter un meuble</button>
                    </div>
                </div>
            </div>
            <div class="recap col-sm-2">
                {# changer la ligne en dessous en dynamique mac #}
                <li class="recap-item">Aie Aie Aie</li>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myRoomCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">Ajouter une pièce</h4>
                        </div>
                        <div class="modal-body row">
                            {% for roomCategory in roomCategories %}
                                <div data-id="{{ roomCategory.id }}" class="roomCategoryModal col-md-6 text-center">{{ roomCategory.name }}</div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

        </div>
    </div>
{% endblock %}

