{% extends 'base.html.twig' %}

{% block body %}
    <img class="navbar" src="{{ asset('assets/images/navbarfuschia.png') }}">
    <div class="container-fluid">
        <div class="row page">
            <div class="titles">
                <h1>INVENTAIRE DE MON DÉMÉNAGEMENT</h1>
                <h3>Définissez la liste des objets que vous souhaitez déménager.</h3>
            </div>
            <div class="search-div col-sm-2">
                <input autocomplete="off" class="search-bar"/>
                <div id="autocomplete" class="search-list">
                    {# changer la ligne en dessous en dynamique mac #}
                    <li class="list-element-you-know">Nan mais allo quoi</li>
                </div>
            </div>
            <div class="content col-sm-8">
                <div class="row">
                    <div class="room-links tab col-xs-4">
                        {# UN id='defaultOpen' DOIT ETRE MIS SUR LE PREMIER ELEMENT DANS LE CAS OU PLUSIEURS PIECES SONT LA DE BASE
                        DONC A PRIORI IL NE FAUDRA PAS LE METTRE #}
                        <button class="room-link" onclick="openRoom(event, 'cuisine{#nom de la pièce#}')" id="defaultOpen">{# nom de la pièce #}Chambre 3
                        </button>
                        <button class="room-link" onclick="openRoom(event, 'salle de bain{#nom de la pièce#}')">{# nom de la pièce #}Chambre 3
                        </button>
                        <button class="room-link" onclick="openRoom(event, 'cave{#nom de la pièce#}')">{# nom de la pièce #}Chambre 3
                        </button>
                        <button class="room-link" onclick="openRoom(event, 'donjon{#nom de la pièce#}')">{# nom de la pièce #}Chambre 3
                        </button>
                        <div class="center-text">
                            <a class="add-room"><img src="{{ asset('assets/images/ajouterpiece.png') }}"></a>
                        </div>
                    </div>
                    <div class="col-xs-8 items-div">
                        <div class="row">
                            <div class="room-items" id="cuisine{# nom de la pièce #}">
                                <li class="room-item col-sm-6">Hola mis amigos</li>
                                <li class="room-item col-sm-6">Hola mis amigos</li>
                                <li class="room-item col-sm-6">Hola mis amigos</li>
                            </div>
                            <div class="room-items" id="salle de bain{# nom de la pièce #}">
                                <li class="room-item col-sm-6">Hola mis amigas</li>
                            </div>
                            <div class="room-items" id="cave{# nom de la pièce #}">
                                <li class="room-item col-sm-6">Hola mis amigis</li>
                            </div>
                            <div class="room-items" id="donjon{# nom de la pièce #}">
                                <li class="room-item col-sm-6">Hola mis amigus</li>
                            </div>
                        </div>
                        <div class="center-text">
                            <a class="add-item"><img src="{{ asset('assets/images/ajoutermeuble.png') }}"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="recap col-sm-2">
                {# changer la ligne en dessous en dynamique mac #}
                <li class="recap-item">Aie Aie Aie</li>
            </div>
        </div>
    </div>
{% endblock %}
