{% extends 'base.html.twig' %}

{% block body %}
    <img class="navbar" src="{{ asset('assets/images/navbarfuschia.png') }}">
    <img class="karura" src="http://karura.fr/assets/images/image5a12f8cecad62.jpg">
    <img class="cochon" src="http://www.medlindavis.com/images/new-pig-03.png">
    <img class="coincoin" src="{{ asset('assets/images/coin.png') }}">
    <div class="container-fluid">
        <div class="row page">
            <div class="titles">
                <h1>INVENTAIRE DE MON DÉMÉNAGEMENT</h1>
                <h3>Définissez la liste des objets que vous souhaitez déménager.</h3>
            </div>
            <div class="search-div col-sm-2">
                <input autocomplete="off" class="search-bar" id="searchbar" placeholder="RECHERCHER"/>
                <div id="autocomplete" class="search-list">
                </div>
            </div>
            <div class="content col-sm-8">
                <div class="row">
                    <div class="room-links tab col-xs-4">
                        <div class="center-text add-room-button">
                            <a data-toggle="modal" href="#myRoomCategoryModal" class="add-room">Ajouter une pièce</a>
                        </div>
                    </div>
                    <div class="col-xs-8 items-div">
                        <div class="row">
                        </div>
                    </div>


                <button type="button" class="btn btn-default btn-modal-recap pull-right" data-toggle="modal"
                        data-target=".modal-recap-lg">
                    <span class="glyphicon glyphicon-list-alt"></span> RECAPITULATIF
                </button>
                </div>
                <div class="modal right fade fade modal-recap-lg " tabindex="-1" role="dialog"
                     aria-labelledby="myLargeModalLabel">
                    <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                            aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title"> RECAPITULATIF </h4>
                            </div>
                            <div class="modal-body">
                                <p>{# ici sera inscrit dans le marbre le récapitulatif du déménagement #}</p>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class=" btn btn-default print"><span
                                            class="glyphicon glyphicon-print "></span> IMPRIMER
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
            </div>
            <div class="col-sm-2">

            </div>
            <!-- Modal -->
            <div class="modal fade" id="myRoomCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title">AJOUTER UNE PIECE</h4>
                        </div>
                        <div class="modal-body row">
                            {% for roomCategory in roomCategories %}
                                <div data-id="{{ roomCategory.id }}" class="roomCategoryModal col-md-6 text-right">
                                    <span>{{ roomCategory.name | capitalize }}</span>
                                    <button class="btn btn-success"><span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                    <span>0</span>
                                    <button class="btn btn-danger"><span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">FERMER</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
        </div>
    </div>
{% endblock %}
